.nav {
	list-style: none;
  	margin: 0;
  	background-color: rgba(1,1,1,0.9);
  	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: flex-end;
}

.nav a {
	text-decoration: none;
	display: block;
	padding: 1em;
	color: white;
}

.nav1 {
	list-style: none;
  	margin: 0;
  	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: center;
}

.nav1 a {
	text-decoration: none;
	display: block;
	padding: 1em;
	color: #333;
}

.homeCenter a {
	color: white;
	text-decoration: none;
	transition: all ease-in-out 2s;
}

.nav a:hover,
.nav1 a:hover,
.homeCenter h5 a:hover {
	text-decoration: underline;	
}

.homeCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 200px;
	width: 350px;
	margin-left: -175px;
	margin-top: -110px;
    text-align: center;
    color: #fff;
    font-size: 19px;
    font-family: 'Titillium Web', sans-serif;
}

.home1 img {
	filter: opacity(90%);
	width: 100%;
	padding: -10px;
}

.home2,
.home3,
.home4,
.home5 {
	font-family: 'Titillium Web', sans-serif;
	text-align: center;
}

.card p {
	font-size: 19px;
}

.home2,
.home4 {
	background-color: #eee;
}

.home2 p,
.home3 p,
.home5 p {
	color: #999;
	font-size: 19px;
}

.home2 p,
.home3 p {
	padding: 20px;
}

.card {
	margin: 20px;
	padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    border-radius: 5px;
    display: inline-block;
}

.card:hover {
    box-shadow: 4px 8px 16px 4px rgba(0,0,0,0.5);
}

.home2,
.home5,
.home6 {
	padding: 100px;
}

.project-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.project {
	height: 250px;
	width: 300px;
	margin: 30px;
	display: inline-block;
	position: relative;
}

.project img {
	height: 100%;
	width: 100%;
	border-radius: 5px;
	transition: 0.3s;
	border: 2px solid #ccc;
}

.project-list {
	list-style-type: none;
	text-align: center;
}

ul.project-list li {
	display: inline-block;
	position: relative;
}

span.text {
	color: white;
	cursor: pointer;
	position: absolute;
	opacity: 0;
	text-align: center;
	display: table;
	top: 50%;
	left: 35%;
	border: 1px solid white;
	border-radius: 5px;
	padding: 10px;
	background-color: #000;
	font-size: 15px;
}

.project:hover {
	background: rgba(0,0,0,0.2);
	opacity: 0.5;
	transform: scale(1.1);
	transition: transform 500ms;
}

.project:hover span.text {
	opacity: 1;	
}

.timeline,
.timeline ul,
.home2,
.home3 {
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li::after { 
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #fff;
}

.icon {
	position: relative;
	margin-top: -30px;
	color: #fff;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 300px;
  padding: 15px;
  background: #fff;
  color: #555;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(1) div,
.timeline ul li:nth-child(5) div,
.timeline ul li:nth-child(9) div,
.timeline ul li:nth-child(13) div {
  left: 45px;
}

.timeline ul li:nth-child(1) div::before,
.timeline ul li:nth-child(5) div::before,
.timeline ul li:nth-child(9) div::before,
.timeline ul li:nth-child(13) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #fff transparent transparent;
}

.timeline ul li:nth-child(3) div,
.timeline ul li:nth-child(7) div,
.timeline ul li:nth-child(11) div {
  left: -370px;
}

.timeline ul li:nth-child(3) div::before,
.timeline ul li:nth-child(7) div::before,
.timeline ul li:nth-child(11) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #fff;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.timeline ul li::after {
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background:  #999;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(1) div,
.timeline ul li:nth-child(5) div,
.timeline ul li:nth-child(9) div,
.timeline ul li:nth-child(13) div {
  transform: translate3d(300px, 0, 0);
}

.timeline ul li:nth-child(3) div,
.timeline ul li:nth-child(7) div,
.timeline ul li:nth-child(11) div {
  transform: translate3d(-300px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

.home5 h2 {
	text-decoration: underline;
}

.home5 img {
	max-height: 150px;
	max-width: 150px;
	margin-top: 30px;
}

.home6 h3 {
	text-align: center;
}

.home6 {
	padding: 0;
	margin: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.home6 p {
	width: 300px;
	margin-left: 20px;
}

.about,
.contact {
	width: 300px;
	padding: 10px;
	color: #333;
	text-align: left;
}

.home6 h3, 
footer {
	color: #999;
	font-family: 'Titillium Web', sans-serif;
	font-size: 15px;
}

footer h5 {
	text-align: center;
}

@media all and (max-width: 800px) {
  .nav, 
  .nav1 {
    justify-content: space-around;
  }
}

@media all and (max-width: 900px) {
	.timeline ul li div {
		width: 200px;
	}

	.timeline ul li:nth-child(3) div,
  .timeline ul li:nth-child(7) div,
  .timeline ul li:nth-child(11) div {
	  left: -270px;
	}
}

@media all and (max-width: 600px) {
  .nav, 
  .nav1 {
    flex-flow: column wrap;
    padding: 0;
  }
  
  .nav a, 
  .nav1 a { 
    text-align: center; 
    padding: 9px;
  }

  .homeCenter {
	padding-top: 30px;
  }

  .nav a {
	border-top: 1px solid rgba(255,255,255,0.2); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  .nav li:last-of-type a {
    border-bottom: none;
  }

  .card h3 {
  	font-size: 20px;
  }

  .card p {
  	font-size: 15px;
  }

  .timeline ul li {
  	margin-left: 70px;
  }

  .timeline ul li div {
	width: 200px;
  }

  .timeline ul li:nth-child(3) div,
  .timeline ul li:nth-child(7) div,
  .timeline ul li:nth-child(11) div {
	left: 45px;
  }

  .timeline ul li:nth-child(3) div::before,
  .timeline ul li:nth-child(7) div::before,
  .timeline ul li:nth-child(11) div::before {
  	left: -15px;
  	border-width: 8px 16px 8px 0;
  	border-color: transparent #fff transparent transparent;
  }

  .icon {
  	position: absolute;
  	z-index: 2;
  	margin-left: -235px;
  }
}
